/****** Variables *******/

// Tipografía
$serif: 'PT_Serif', 'Georgia', 'Times', serif;
$sans-serif: 'OpenSans', 'Arial', 'Helvetica', sans-serif;
$desafio: 44px;
$tema: 36px;
$titulo-size: 1.5rem;

// Imágenes y logos
$logo-planeta: 40px;
$icono-navbar: 4rem;

// Colores
$blanco: #fff;
$titulo-nav: #0b3158;
$texto-resaltado: #0b3158;
$pag01-hard: #776db0;
$pag01-soft: #d6d3e7;
$pag02-hard: #e54d3d;
$pag02-soft: #eb7064;
$pag03-hard: #33bbe7;
$pag03-soft: #33bbe7;
$pag04-hard: #00b212;
$pag04-soft: #4dc959;
$pag04-espe: #bfd966;
$pag04-light: #e4eed0;

// Contenido
#inicial {
    height: 100vh;
    overflow: scroll !important;
}
.ap {
    span:nth-of-type(1) {
        color: #00aae1;
    }
    span:nth-of-type(2) {
        color: #0b3158;
    }
}