body {
    margin: 0;
    overflow: hidden;
}
/****** Variables *******/

$asignatura: 'cs';

// Tipografía
$serif: 'PT_Serif', 'Georgia', 'Times', serif;
$sans-serif: 'Lato', 'Arial', 'Helvetica', sans-serif;
$sans-serif-black: 'LatoBlack', 'Arial', 'Helvetica', sans-serif;
$arial: 'Arial', 'Helvetica', sans-serif;
$georgia: 'Georgia', 'Times', serif;
$desafio-size: 54px;
$tema-size: 45px;
$titulo-size: 1.5rem;
$footer-desafio-size: 25px;
$footer-tema-size: 20px;
$pregunta-detona-size: 72px;

// Páginas de contenido
$ancho-total: 1024px;
$alto-total: 768px;
$barra-height: 61px;
$footer-height: 73px;
$ancho-contenido: 823px;

// Imágenes y logos
$logo-barra: 26px;
$icono-barra: 66px;
$navbar-boton: 23px;

// Variables por asignatura
$variables: variables($asignatura);

// Texto titulo
$desafio-color: map-get($variables, 'desafio-color');
$tema-color: map-get($variables, 'tema-color');
$titulo-borde: map-get($variables, 'titulo-borde');


// Colores
$blanco: map-get($variables, 'blanco');
$titulo-nav: map-get($variables, 'titulo-nav');
$ap-soft: map-get($variables, 'ap-soft');
$footer-color: map-get($variables, 'footer-color');
$texto-resaltado: map-get($variables, 'texto-resaltado');
$pag01-hard: map-get($variables, 'pag01-hard');
$pag01-soft: map-get($variables, 'pag01-soft');
$pag02-hard: map-get($variables, 'pag02-hard');
$pag02-soft: map-get($variables, 'pag02-soft');
$pag03-hard: map-get($variables, 'pag03-hard');
$pag03-soft: map-get($variables, 'pag03-soft');
$pag04-hard: map-get($variables, 'pag04-hard');
$pag04-soft: map-get($variables, 'pag04-soft');
$pag04-espe: map-get($variables, 'pag04-espe');
$pag04-light: map-get($variables, 'pag04-light');

// Contenido
#inicial {
    border: solid 1px $tema-color;
    width: $ancho-total;
    height: $alto-total;
    margin: 0 auto;
    background-repeat: no-repeat;
    position: relative;
    //overflow: scroll !important;
}
.ap {
    span:nth-of-type(1) {
        color: $ap-soft;
    }
    span:nth-of-type(2) {
        color: $titulo-nav;
    }
}
a {
    color: $titulo-nav;
    &:active,
    &:visited,
    &:checked {
        color: $titulo-nav;
    }
    &:hover {
        color: $ap-soft;
    }
}
// Reinicios
h3 {
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}
