@font-face {
    font-family: 'LatoBlack';
    src: url('../fonts/lato/Lato-Black.eot');
    src: url('../fonts/lato/Lato-Black.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato/Lato-Black.woff2') format('woff2'),
         url('../fonts/lato/Lato-Black.woff') format('woff'),
         url('../fonts/lato/Lato-Black.ttf') format('truetype');
    font-style: normal;
    font-weight: bolder;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato/Lato-Regular.eot');
    src: url('../fonts/lato/Lato-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato/Lato-Regular.woff2') format('woff2'),
         url('../fonts/lato/Lato-Regular.woff') format('woff'),
         url('../fonts/lato/Lato-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'LatoItalic';
    src: url('../fonts/lato/Lato-Italic.eot');
    src: url('../fonts/lato/Lato-Italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato/Lato-Italic.woff2') format('woff2'),
         url('../fonts/lato/Lato-Italic.woff') format('woff'),
         url('../fonts/lato/Lato-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'LatoBold';
    src: url('../fonts/lato/Lato-Bold.eot');
    src: url('../fonts/lato/Lato-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato/Lato-Bold.woff2') format('woff2'),
         url('../fonts/lato/Lato-Bold.woff') format('woff'),
         url('../fonts/lato/Lato-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'LatoBoldItalic';
    src: url('../fonts/lato/Lato-BoldItalic.eot');
    src: url('../fonts/lato/Lato-BoldItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato/Lato-BoldItalic.woff2') format('woff2'),
         url('../fonts/lato/Lato-BoldItalic.woff') format('woff'),
         url('../fonts/lato/Lato-BoldItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'LatoBlackItalic';
    src: url('../fonts/lato/Lato-BlackItalic.eot');
    src: url('../fonts/lato/Lato-BlackItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato/Lato-BlackItalic.woff2') format('woff2'),
         url('../fonts/lato/Lato-BlackItalic.woff') format('woff'),
         url('../fonts/lato/Lato-BlackItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: bolder;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'PT_Serif';
    src: url('../fonts/pt_serif-web-bold-webfont.woff2') format('woff2'),
        url('../fonts/pt_serif-web-bold-webfont.woff') format('woff'),
        url('../fonts/PT_Serif-Web-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'PT_Serif';
    src: url('../fonts/pt_serif-web-italic-webfont.woff2') format('woff2'),
        url('../fonts/pt_serif-web-italic-webfont.woff') format('woff'),
        url('../fonts/PT_Serif-Web-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'PT_Serif';
    src: url('../fonts/pt_serif-web-regular-webfont.woff2') format('woff2'),
        url('../fonts/pt_serif-web-regular-webfont.woff') format('woff'),
        url('../fonts/PT_Serif-Web-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    text-rendering: optimizeLegibility;
}
