@function variables($asignatura) {
    @if $asignatura == 'cs' {
        $map: (
            titulo-borde: 1px solid rgba(185,167,141,0.25),
            asign-soft: #89765e,
            asign-hard: #5b401f
        );
        @return $map;
    }
    @if $asignatura == 'cn' {
        $map: (
            titulo-borde: 1px solid rgba(51,116,117,0.25),
            asign-soft: #b3d25d,
            asign-hard: #337411
        );
        @return $map;
    }
    @if $asignatura == 'fq' {
        $map: (
            titulo-borde: 1px solid rgba(0,138,59,0.25),
            asign-soft: #47ab72,
            asign-hard: #008a3b
        );
        @return $map;
    }
}
@mixin media-queries($anchos...) {
    $minancho: nth($anchos, 1) - 1;
    $minalto: ($minancho / 4) * 3;
    @media screen and (max-width: #{$minancho}) {
        html {
            font-size: 60px;
        }
    }
    @media screen and (max-height: #{$minalto}) {
        html {
            font-size: 60px;
        }
    }
    @each $var in $anchos {
        $k: $var / 1024;
        $alto: ($k * 768);
        $ancho: $var;
        $font: $k * $tolerancia;//100;
        @media screen and (min-width: #{$ancho}) and (min-height: #{$alto}) {
            html {
                font-size: #{$font};
            }
        }
    }
}
// Desde Bootstrap

$embed-responsive-aspect-ratios: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$embed-responsive-aspect-ratios: join(
    (
        (21 9),
        (16 9),
        (4 3),
        (1 1),
    ),
    $embed-responsive-aspect-ratios
);

.embed-responsive {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;

    &::before {
        display: block;
        content: "";
    }

    .embed-responsive-item,
    iframe,
    embed,
    object,
    video {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
}

@each $embed-responsive-aspect-ratio in $embed-responsive-aspect-ratios {
    $embed-responsive-aspect-ratio-x: nth($embed-responsive-aspect-ratio, 1);
    $embed-responsive-aspect-ratio-y: nth($embed-responsive-aspect-ratio, 2);

    .embed-responsive-#{$embed-responsive-aspect-ratio-x}by#{$embed-responsive-aspect-ratio-y} {
        &::before {
            padding-top: percentage($embed-responsive-aspect-ratio-y / $embed-responsive-aspect-ratio-x);
        }
    }
}
