@function variables($asignatura) {
    @if $asignatura == 'cs' {
        $map: (
            desafio-color: #0B3158,
            tema-color: #89765E,
            titulo-borde: 1px solid rgba(185,167,141,0.25),
            blanco: #fff,
            titulo-nav: #0b3158,
            ap-soft: #00aae1,
            footer-color: #0b3158,
            texto-resaltado: #0b3158,
            pag01-hard: #776db0,
            pag01-soft: #d6d3e7,
            pag02-hard: #e54d3d,
            pag02-soft: #eb7064,
            pag03-hard: #33bbe7,
            pag03-soft: #33bbe7,
            pag04-hard: #00b212,
            pag04-soft: #4dc959,
            pag04-espe: #bfd966,
            pag04-light: #e4eed0,
            pag05-hard: #f5cc1f,
            pag05-soft: #f8db62,
            pag06-hard: #ff9100,
            pag06-soft: #ffb24d,
            pag07-hard: #4a6eab,
            pag07-tran: rgba(74,110,171,0.9),
            pag07-soft: #8099c4,
            pag08-hard: #db6600,
            pag08-soft: #db6600,
            asign-soft: #dad1c4,
            asign-hard: #b9a78d,
            bg-portada: url('../int/portada_cs.jpg')
        );
        @return $map;
    }
}
@mixin media-queries($anchos...) {
    $minancho: nth($anchos, 1) - 1;
    $minalto: ($minancho / 4) * 3;
    @media screen and (max-width: #{$minancho}) {
        html {
            font-size: 6px;
        }
    }
    @media screen and (max-height: #{$minalto}) {
        html {
            font-size: 6px;
        }
    }
    @each $var in $anchos {
        $k: $var / 1024;
        $alto: ($k * 768);
        $ancho: $var;
        $font: $k * 10;
        @media screen and (min-width: #{$ancho}) and (min-height: #{$alto}) {
            html {
                font-size: #{$font};
            }
        }
    }
}
// Desde Bootstrap

$embed-responsive-aspect-ratios: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$embed-responsive-aspect-ratios: join(
    (
        (21 9),
        (16 9),
        (4 3),
        (1 1),
    ),
    $embed-responsive-aspect-ratios
);

.embed-responsive {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;

    &::before {
        display: block;
        content: "";
    }

    .embed-responsive-item,
    iframe,
    embed,
    object,
    video {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
}

@each $embed-responsive-aspect-ratio in $embed-responsive-aspect-ratios {
    $embed-responsive-aspect-ratio-x: nth($embed-responsive-aspect-ratio, 1);
    $embed-responsive-aspect-ratio-y: nth($embed-responsive-aspect-ratio, 2);

    .embed-responsive-#{$embed-responsive-aspect-ratio-x}by#{$embed-responsive-aspect-ratio-y} {
        &::before {
            padding-top: percentage($embed-responsive-aspect-ratio-y / $embed-responsive-aspect-ratio-x);
        }
    }
}
