.pagina {
    background-size: 100%;
    .barra {
        width: $ancho-total;
        height: $barra-height;
        position: fixed;
        z-index: 999;
        .titulo {
            position: relative;
            height: 100%;
            .icono {
                width: $icono-barra;
                height: $icono-barra;
                position: absolute;
                left: 2.3rem;
                top: 2.1rem;
            }
            .texto {
                font-family: $sans-serif-black;
                font-weight: bolder;
                color: $titulo-nav;
                position: absolute;
                top: 1.5rem;
                left: 10.1rem;
                font-size: 2.3rem;
            }
        }
        .volver {
            width: $navbar-boton;
            height: $navbar-boton;
            background-size: contain;
            background-repeat: no-repeat;
            display: inline-block;
            background-image: url('../int/volver.svg');
            position: absolute;
            right: 1.9rem;
            top: 1.9rem;
        }
        .logo {
            width: $logo-barra;
            height: $logo-barra;
            background-image: url('../int/logoPlaneta.svg');
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
    .contenido {
        /*overflow: scroll;*/
        padding-top: $barra-height;
        height: $alto-total - $barra-height - $footer-height;
        background-repeat: no-repeat;
        background-position-y: top;
        .seccion {
            width: 100%;
            font-family: $sans-serif;
            font-size: 2.2rem;
        }
    }
    .pie {
        width: $ancho-total;
        height: $footer-height;
        background-color: $footer-color;
        position: absolute;
        z-index: 998;
        top: $alto-total - $footer-height;
        #titulo {
            position: absolute;
            text-align: right;
            right: 10.8rem;
            top: 0.4rem;
            #desafio {
                font-family: $sans-serif-black;
                font-size: $footer-desafio-size;
                font-weight: bolder;
                line-height: 1.2;
                color: $blanco;
                border-bottom: $titulo-borde;
            }
            #tema {
                font-family: $serif;
                font-size: $footer-tema-size;
                color: $tema-color;
                line-height: 1;
                margin-top: 0.2rem;
            }
        }
        .figura {
            background-image: url('../img/figura.png');
            background-size: cover;
            background-repeat: no-repeat;
            position: absolute;
            width: 10.0rem;
            height: 8.8rem;
            right: -0.6rem;
            top: -1.2rem;
        }
        #navbar {
            position: absolute;
            top: ($alto-total / 3) * -1; //2.7rem;
            left: 0; //2.7rem;
            a {
                position: absolute;
                width: $navbar-boton * 2;
                height: $navbar-boton * 2;
                border-radius: 50%;
                background-size: 40%;
                background-repeat: no-repeat;
                display: inline-block;
                //background-color: $asign-hard !important;
                &:hover {
                    box-shadow: 2px 2px 4px #000;
                }
                &.disabled {
                    display: none;
                }
            }
            .anterior {
                background-image: url('../int/ant-act.svg');
                background-position: 45% center;
                top: 0;
                left: 0.5rem;
                &.disabled {
                    background-image: url('../int/ant-des.svg');
                }
            }
            .siguiente {
                background-image: url('../int/sig-act.svg');
                background-position: 55% center;
                top: 0;
                left: $ancho-total - ($navbar-boton * 2) - 0.5rem;
                &.disabled {
                    background-image: url('../int/sig-des.svg');
                }
            }
            .volver {
                display: none;
            }
        }
    }
}
.view-pag01 {
    background-image: url('../img/fondo_pag01.jpg');
    #navbar {
        a {
            background-color: $pag01-hard;
        }
    }
    .barra {
        background-color: $pag01-soft;
    }
    .contenido {
        .seccion {
            height: $alto-total - $barra-height - $footer-height;
        }
        .sec01 {
            .contenedor {
                width: $ancho-contenido;
                margin: 0 auto;
                padding-top: 4.1rem;
            }
        }
        .sec02 {
            .preg-detona {
                width: 83.0rem;
                height: $alto-total - $barra-height - $footer-height;
                margin: 0 auto;
                .fondo {
                    background-color: $pag01-hard;
                    height: 83.0rem;
                    width: 83.0rem;
                    border-radius: 41.5rem;
                    margin-top: -12.2rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .texto {
                        color: $blanco;
                        font-family: $sans-serif-black;
                        font-size: $pregunta-detona-size;
                        font-weight: bolder;
                        text-align: center;
                        width: 65.0rem;
                    }
                }
            }
        }
    }
}
.view-pag02 {
    background-image: url('../img/fondo_pag02.jpg');
    #navbar {
        a {
            background-color: $pag02-hard;
        }
    }
    .barra {
        background-color: $pag02-soft;
    }
    .contenido {
        .sec01 {
            width: $ancho-contenido;
            margin-left: ($ancho-total - $ancho-contenido) / 2;
            border-radius: 2.6rem;
            background-color: $blanco;
            margin-top: 6.0rem;
            .texto-inicial {
                //font-size: 25px;
                margin: 3.8rem 3.8rem 0 3.8rem;
            }
            .texto-resaltado {
                //font-size: 28px;
                margin: 3.8rem;
                color: $pag02-hard;
                font-family: $sans-serif-black;
                font-weight: bolder;
            }
            .imagen-apoyo {
                max-width: 100%;
                display: flex;
                flex-direction: row;
                .imagen {
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }
}
.view-pag03 {
    background-image: url('../img/fondo_pag03.jpg');
    #navbar {
        a {
            background-color: $pag03-hard;
        }
    }
    .barra {
        background-color: $pag03-soft;
    }
    .contenido {
        .sec01 {
            .texto-resaltado {
                position: absolute;
                left: 10.6rem;
                top: 10.5rem;
                //font-size: 28px;
                width: 51.9rem;
                color: $pag03-hard;
                font-family: $sans-serif-black;
                font-weight: bolder;
            }
            .hilo {
                position: absolute;
                top: 31.6rem;
                left: 8.6rem;
                width: 68.2rem;
                height: 37.9rem;
                .aspectos {
                    position: relative;
                    .aspecto {
                        position: absolute;
                        img {
                            width: 8.5rem;
                            height: 8.5rem;
                            display: block;
                        }
                        span {
                            font-family: $sans-serif-bold;
                            font-weight: bold;
                            font-size: 1.4rem;
                            text-align: center;
                            color: $titulo-nav;
                            display: block;
                            margin-top: 0.5em;
                            width: 9.3rem;
                        }
                        &.asp1 {
                            top: 7.9rem;
                            left: 12.1rem;
                        }
                        &.asp2 {
                            top: -3.4rem;
                            left: 34.9rem;
                        }
                        &.asp3 {
                            top: 24.3rem;
                            left: 17.6rem;
                        }
                        &.asp4 {
                            top: 17.2rem;
                            left: 31.3rem;
                        }
                        &.asp5 {
                            top: 1.9rem;
                            left: 49.0rem;
                        }
                        &.asp6 {
                            top: 16.5rem;
                            left: 49.6rem;
                        }
                    }
                }
            }
        }
    }
}
.view-pag04 {
    #navbar {
        a {
            background-color: $pag04-hard;
        }
    }
    .barra {
        background-color: $pag04-soft;
    }
    .contenido {
        .seccion {
            height: $alto-total - $barra-height - $footer-height;
            background-position-y: $barra-height * -1;
            background-size: 100%;
            margin-top: ($barra-height + 6) * -1;
            .contenedor {
                position: relative;
                color: $titulo-nav;
                width: $ancho-contenido;
                margin-left: ($ancho-total - $ancho-contenido) / 2;
                margin-top: $barra-height + 6;
                h3.texto-resaltado {
                    font-family: $sans-serif-black;
                    color: $pag04-hard;
                    //font-size: 3.6rem;
                    padding-top: 1.35em;
                    width: 22em;
                }
                p {
                    font-family: $sans-serif;
                    font-weight: normal;
                    //font-size: 27px;
                    margin-top: 2.1rem;
                }
                ul {
                    margin-left: -1em;
                    li {
                        //font-size: 2.4rem;
                        margin-top: 0.2em;
                        &:first-of-type {
                            padding-top: 0.55em;
                        }
                    }
                }
            }
        }
        .sec01 {
            background-image: url('../img/fondo_pag04_sec01.jpg');
            .contenedor {
                h3.texto-resaltado {
                    //font-size: 28px;
                    padding-top: 1.75em;
                }
            }
        }
        .sec02 {
            background-image: url('../img/fondo_pag04_sec02.jpg');
            .contenedor {
                width: 100%;
                margin-left: 0;
                margin-top: $barra-height + 6;
                .texto-resaltado-inv {
                    position: absolute;
                    font-family: $sans-serif-black;
                    font-weight: bolder;
                    //font-size: 38px;
                    color: $blanco;
                    top: 28rem;
                    left: 7.0rem;
                    max-width: 7em;
                }
                .pasos {
                    position: absolute;
                    left: 47.0rem;
                    top: 8.5rem;
                    .paso {
                        position: absolute;
                        left: 0;
                        .numero {
                            position: absolute;
                            font-size: 4.0rem;
                            width: 6.6rem;
                            height: 6.6rem;
                            border-radius: 50%;
                            background-color: $pag04-espe;
                            color: $blanco;
                            font-family: $sans-serif-black;
                            span {
                                position: absolute;
                                left: 2.1rem;
                                top: 0.8rem;
                            }
                        }
                        .descripcion {
                            position: absolute;
                            top: 0;
                            left: 10.3rem;
                            width: 20em;
                            line-height: 0.2;
                            p {
                                font-size: 2.2rem;
                            }
                        }
                        &:nth-of-type(1),
                        &:nth-of-type(2),
                        &:nth-of-type(3),
                        &:nth-of-type(4) {
                            .numero:before {
                                content: '';
                                position: absolute;
                                width: 0.8rem;
                                height: 5.0rem;
                                background-color: #e4eed0;
                                left: 3.0rem;
                                top: 5.9rem;
                                z-index: -3;
                            }
                        }
                    }
                    .paso01 {
                        top: 0;
                    }
                    .paso02 {
                        top: 9.9rem;
                    }
                    .paso03 {
                        top: 19.8rem;
                    }
                    .paso04 {
                        top: 29.6rem;
                    }
                    .paso05 {
                        top: 39.4rem;
                    }
                }
            }
        }
        .sec03,
        .sec04,
        .sec05 {
            background-image: url('../img/fondo_pag04_sec03.jpg');
        }
    }
}
.view-pag05 {
    background-image: url('../img/fondo_pag05.jpg');
    #navbar {
        a {
            background-color: $pag05-hard;
        }
    }
    .barra {
        background-color: $pag05-soft;
    }
    .contenido {
        .seccion {
            .contenedor {
                color: $titulo-nav;
                width: $ancho-contenido;
                margin-left: ($ancho-total - $ancho-contenido) / 2;
                padding-bottom: 1em;
                h3.texto-resaltado {
                    font-family: $sans-serif-black;
                    color: $pag05-hard;
                    //font-size: 26px;
                    padding-top: 1.75em;
                }
                p {
                    font-family: $sans-serif;
                    font-weight: normal;
                    font-size: $parrafo-size;
                }
                ul {
                    margin-left: -1em;
                    margin-top: 0;
                    li {
                        font-size: $parrafo-size;
                        margin-top: 0.2em;
                        &:first-of-type {
                            padding-top: 0.55em;
                        }
                    }
                }
            }
        }
    }
}
.view-pag06 {
    background-image: url('../img/fondo_pag06.jpg');
    #navbar {
        a {
            background-color: $pag06-hard;
        }
    }
    .barra {
        background-color: $pag06-soft;
    }
    .contenido {
        .seccion {
            .contenedor {
                color: $titulo-nav;
                width: $ancho-contenido;
                margin-left: ($ancho-total - $ancho-contenido) / 2;
                padding-bottom: 1em;
                h3.texto-resaltado {
                    font-family: $sans-serif-black;
                    color: $pag06-hard;
                    //font-size: 26px;
                    padding-top: 1.75em;
                }
                p {
                    font-family: $sans-serif;
                    font-weight: normal;
                    font-size: $parrafo-size;
                    img.icono {
                        max-width: 1em;
                        max-height: 1em;
                        display: inline;
                    }
                }
                ul {
                    margin-left: -1em;
                    margin-top: 0;
                    li {
                        font-size: $parrafo-size;
                        margin-top: 0.2em;
                        &:first-of-type {
                            padding-top: 0.55em;
                        }
                    }
                }
            }
        }
    }
}
.view-pag07 {
    background-image: url('../img/fondo_pag07.jpg');
    #navbar {
        a {
            background-color: $pag07-hard;
        }
    }
    .barra {
        background-color: $pag07-soft;
        .titulo {
            .icono {
                img {
                    max-height: 145%;
                }
            }
        }
    }
    .contenido {
        .seccion {
            .contenedor {
                color: $titulo-nav;
                width: $ancho-contenido;
                margin-left: ($ancho-total - $ancho-contenido) / 2;
                padding-bottom: 1em;
                h3.texto-resaltado {
                    font-family: $sans-serif-black;
                    color: $pag07-hard;
                    //font-size: 26px;
                    padding-top: 1.75em;
                    text-align: center;
                }
                figure.mosaico {
                    position: relative;
                    margin: 2em 0 0;
                    background-color: $blanco;
                    .imagenes {
                        max-width: 100%;
                        display: table;
                        text-align: center;
                        .img {
                            max-width: 19%;
                            display: inline-table;
                            vertical-align: middle;
                            padding-left: 0.4rem;
                            &:last-of-type {
                                padding-right: 0.4rem;
                            }
                        }
                        &:first-of-type {
                            margin-top: -2rem;
                            padding-top: 0.4rem;
                        }
                        &:last-of-type {
                            margin-top: 12rem;
                            padding: 0.4rem 0;
                        }
                    }
                    figcaption {
                        position: absolute;
                        top: 9.0rem;
                        left: ($ancho-contenido - $circulo-prueba) / 2;
                        width: $circulo-prueba;
                        height: $circulo-prueba;
                        border-radius: 50%;
                        background-color: $pag07-hard;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-family: $sans-serif-black;
                        font-size: 3.0rem;
                        padding: 1.6rem;
                        span {
                            color: $blanco;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}
.view-pag08 {
    background-image: url('../img/fondo_pag08.jpg');
    #navbar {
        a {
            background-color: $pag08-hard;
        }
    }
    .barra {
        background-color: $pag08-soft;
    }
    .contenido {
        .seccion {
            .contenedor {
                color: $titulo-nav;
                width: 58.0rem;
                margin-left: ($ancho-total - 58.0) / 2;
                padding-bottom: 1em;
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                h3.texto-resaltado {
                    font-family: $sans-serif-black;
                    color: $pag08-hard;
                    //font-size: 30px;
                    &:first-of-type {
                        padding-top: 1.5em;
                    }
                    &:last-of-type {
                        padding-top: 0.1em;
                    }
                }
                p {
                    //font-size: 29px;
                    margin: 2rem 0;
                    &:last-of-type {
                        margin-top: 0.5em;
                        width: 18em;
                    }
                }
            }
        }
    }
}