.pagina {
    background-size: 100%;
    .barra {
        width: $ancho-total;
        height: $barra-height;
        position: fixed;
        z-index: 999;
        .titulo {
            position: relative;
            height: 100%;
            .icono {
                width: $icono-barra;
                height: $icono-barra;
                position: absolute;
                left: .23rem;
                top: 0;//.21rem;
            }
            .texto {
                font-family: $sans-serif;
                font-weight: bolder;
                color: $titulo-nav;
                position: absolute;
                top: .15rem;
                left: 1.01rem;
                font-size: .23rem;
            }
        }
        .volver {
            width: $navbar-boton;
            height: $navbar-boton;
            background-size: contain;
            background-repeat: no-repeat;
            display: inline-block;
            background-image: url('../int/volver.svg');
            position: absolute;
            right: .19rem;
            top: .19rem;
        }
        .logo {
            width: $logo-barra;
            height: $logo-barra;
            background-image: url('../int/logoPlaneta.svg');
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
    .contenido {
        padding-top: $barra-height;
        height: $alto-total - $barra-height - $footer-height;
        background-repeat: no-repeat;
        background-position-y: top;
        .seccion {
            width: 100%;
            font-family: $sans-serif;
            font-size: .22rem;
        }
    }
    .pie {
        width: $ancho-total;
        height: $footer-height;
        background-color: $footer-color;
        position: absolute;
        z-index: 998;
        top: $alto-total - $footer-height;
        #titulo {
            position: absolute;
            text-align: right;
            right: 1.08rem;
            top: .1rem;//.04rem;
            #desafio {
                font-family: $sans-serif;
                font-size: $footer-desafio-size;
                font-weight: bolder;
                line-height: 1.2;
                color: $blanco;
                border-bottom: $titulo-borde;
            }
            #tema {
                font-family: $serif;
                font-size: $footer-tema-size;
                color: $tema-color;
                line-height: 1;
                margin-top: .02rem;
            }
        }
        .figura {
            background-image: url('../img/figura.png');
            background-size: cover;
            background-repeat: no-repeat;
            position: absolute;
            width: 1.00rem;
            height: .88rem;
            right: -.06rem;
            top: -.12rem;
        }
        #navbar {
            position: absolute;
            top: ($alto-total / 3) * -1;
            left: 0;
            a {
                position: absolute;
                width: $navbar-boton * 2;
                height: $navbar-boton * 2;
                border-radius: 50%;
                background-size: 40%;
                background-repeat: no-repeat;
                display: inline-block;
                &:hover {
                    box-shadow: 2px 2px 4px #000;
                }
                &.disabled {
                    display: none;
                }
            }
            .anterior {
                background-image: url('../int/ant-act.svg');
                background-position: 45% center;
                top: 0;
                left: .05rem;
                &.disabled {
                    background-image: url('../int/ant-des.svg');
                }
            }
            .siguiente {
                background-image: url('../int/sig-act.svg');
                background-position: 55% center;
                top: 0;
                left: $ancho-total - ($navbar-boton * 2) - .05rem;
                &.disabled {
                    background-image: url('../int/sig-des.svg');
                }
            }
            .volver {
                display: none;
            }
        }
    }
}
.view-pag01 {
    background-image: url('../int/fondo_pag01.jpg');
    #navbar {
        a {
            background-color: $pag01-hard;
        }
    }
    .barra {
        background-color: $pag01-soft;
    }
    .contenido {
        .seccion {
            height: $alto-total - $barra-height - $footer-height;
            .contenedor {
                .texto {
                    font-size: 0.2rem;
                    background-color: rgba($pag01-hard, .15);
                    padding: 1em 2em;
                    border-radius: .1rem;
                    height: 6rem;
                    color: $titulo-nav;
                    .referencia {
                        font-size: 0.18rem;
                    }
                }
            }
        }
        .sec01 {
            .contenedor {
                width: $ancho-contenido;
                margin: 0 auto;
                padding-top: .41rem;
            }
        }
        .sec02 {
            .preg-detona {
                width: $preg-detona-size;
                height: $alto-total - $barra-height - $footer-height;
                margin: 0 auto;
                .fondo {
                    background-color: $pag01-hard;
                    height: $preg-detona-size;
                    width: $preg-detona-size;
                    border-radius: $preg-detona-size / 2;
                    margin-top: -1.22rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .texto {
                        color: $blanco;
                        font-family: $sans-serif;
                        font-size: $pregunta-detona-size;
                        font-weight: bolder;
                        text-align: center;
                        width: 6.5rem;
                    }
                }
            }
        }
    }
}
.view-pag02 {
    background-image: url('../int/fondo_pag02.jpg');
    #navbar {
        a {
            background-color: $pag02-hard;
        }
    }
    .barra {
        background-color: $pag02-soft;
    }
    .contenido {
        .sec01 {
            width: $ancho-contenido;
            margin-left: ($ancho-total - $ancho-contenido) / 2;
            border-radius: 0 0 .26rem .26rem;
            background-color: $blanco;
            margin-top: .6rem;
            .texto-inicial {
                margin: .38rem .38rem 0 .38rem;
            }
            .texto-resaltado {
                margin: .38rem;
                color: $pag02-hard;
                font-family: $sans-serif;
                font-weight: bolder;
            }
            .imagen-apoyo {
                max-width: 100%;
                margin: 0;
                border-radius: 0 0 .26rem .26rem;
                overflow: hidden;
                .imagen {
                    img {
                        width: 100%;
                        height: auto;
                        margin-bottom: -.1rem;
                    }
                }
            }
        }
    }
}
.view-pag03 {
    background-image: url('../int/fondo_pag03.jpg');
    #navbar {
        a {
            background-color: $pag03-hard;
        }
    }
    .barra {
        background-color: $pag03-soft;
    }
    .contenido {
        .seccion {
            .texto-resaltado {
                position: absolute;
                left: 1.06rem;
                top: 1.05rem;
                width: 5.19rem;
                color: $pag03-hard;
                font-family: $sans-serif;
                font-weight: bolder;
            }
            .hilo {
                position: absolute;
                top: 3.16rem;
                left: .86rem;
                width: 6.82rem;
                height: 3.79rem;
                .aspectos {
                    position: relative;
                    .aspecto {
                        position: absolute;
                        img {
                            width: .85rem;
                            height: .85rem;
                            display: block;
                        }
                        span {
                            font-family: $sans-serif;
                            font-weight: bold;
                            font-size: .14rem;
                            text-align: center;
                            color: $titulo-nav;
                            display: block;
                            margin-top: 0.5em;
                            width: .93rem;
                        }
                    }
                }
            }
        }
    }
}
.view-pag04 {
    #navbar {
        a {
            background-color: $pag04-hard;
        }
    }
    .barra {
        background-color: $pag04-soft;
    }
    .contenido {
        .seccion {
            height: $alto-total - $barra-height - $footer-height;
            background-position-y: $barra-height * -1;
            background-size: 100.1%;
            margin-top: ($barra-height + 6) * -1;
            .contenedor {
                position: relative;
                color: $titulo-nav;
                width: $ancho-contenido;
                margin-left: ($ancho-total - $ancho-contenido) / 2;
                margin-top: $barra-height + 6;
                h3.texto-resaltado {
                    font-family: $sans-serif;
                    color: $pag04-hard;
                    padding-top: 1.35em;
                    width: 22em;
                }
                p {
                    font-family: $sans-serif;
                    font-weight: normal;
                    margin-top: .21rem;
                }
                ul {
                    margin-left: -1em;
                    li {
                        //font-size: 2.4rem;
                        margin-top: 0.2em;
                        &:first-of-type {
                            padding-top: 0.55em;
                        }
                    }
                }
            }
        }
        .sec01 {
            background-image: url('../int/fondo_pag04_sec01.jpg');
            .contenedor {
                h3.texto-resaltado {
                    padding-top: 1.75em;
                }
            }
        }
        .sec02 {
            background-image: url('../int/fondo_pag04_sec02.jpg');
            .contenedor {
                width: 100%;
                margin-left: 0;
                margin-top: $barra-height + 6;
                .texto-resaltado-inv {
                    position: absolute;
                    font-family: $sans-serif;
                    font-weight: bolder;
                    color: $blanco;
                    top: 2.8rem;
                    left: 1.8rem;
                    max-width: 7em;
                }
                .pasos {
                    position: absolute;
                    left: 4.7rem;
                    top: .85rem;
                    .paso {
                        position: absolute;
                        left: 0;
                        .numero {
                            position: absolute;
                            font-size: .40rem;
                            width: .66rem;
                            height: .66rem;
                            border-radius: 50%;
                            background-color: $pag04-espe;
                            color: $blanco;
                            font-family: $sans-serif;
                            span {
                                position: absolute;
                                left: .21rem;
                                top: .08rem;
                            }
                        }
                        .descripcion {
                            position: absolute;
                            top: 0;
                            left: 1.03rem;
                            width: 20em;
                            line-height: 0.2;
                            p {
                                font-size: .22rem;
                            }
                        }
                        &:nth-of-type(1),
                        &:nth-of-type(2),
                        &:nth-of-type(3),
                        &:nth-of-type(4) {
                            .numero:before {
                                content: '';
                                position: absolute;
                                width: .08rem;
                                height: .5rem;
                                background-color: #e4eed0;
                                left: .3rem;
                                top: .59rem;
                                z-index: -3;
                            }
                        }
                    }
                    .paso01 {
                        top: 0;
                    }
                    .paso02 {
                        top: .99rem;
                    }
                    .paso03 {
                        top: 1.98rem;
                    }
                    .paso04 {
                        top: 2.96rem;
                    }
                    .paso05 {
                        top: 3.94rem;
                    }
                }
            }
        }
        .sec03,
        .sec04,
        .sec05 {
            background-image: url('../int/fondo_pag04_sec03.jpg');
        }
    }
}
.view-pag05 {
    background-image: url('../int/fondo_pag05.jpg');
    #navbar {
        a {
            background-color: $pag05-hard;
        }
    }
    .barra {
        background-color: $pag05-soft;
    }
    .contenido {
        .seccion {
            .contenedor {
                color: $titulo-nav;
                width: $ancho-contenido;
                margin-left: ($ancho-total - $ancho-contenido) / 2;
                padding-bottom: 1em;
                h3.texto-resaltado {
                    font-family: $sans-serif;
                    color: $pag05-hard;
                    padding-top: 1.75em;
                }
                p {
                    font-family: $sans-serif;
                    font-weight: normal;
                    font-size: $parrafo-size;
                }
                ul {
                    margin-left: -1em;
                    margin-top: 0;
                    li {
                        font-size: $parrafo-size;
                        margin-top: 0.2em;
                        &:first-of-type {
                            padding-top: 0.55em;
                        }
                    }
                }
            }
        }
    }
}
.view-pag06 {
    background-image: url('../int/fondo_pag06.jpg');
    #navbar {
        a {
            background-color: $pag06-hard;
        }
    }
    .barra {
        background-color: $pag06-soft;
    }
    .contenido {
        .seccion {
            .contenedor {
                color: $titulo-nav;
                width: $ancho-contenido;
                margin-left: ($ancho-total - $ancho-contenido) / 2;
                padding-bottom: 1em;
                h3.texto-resaltado {
                    font-family: $sans-serif;
                    color: $pag06-hard;
                    padding-top: 1.75em;
                }
                p {
                    font-family: $sans-serif;
                    font-weight: normal;
                    font-size: $parrafo-size;
                    img.icono {
                        max-width: 1em;
                        max-height: 1em;
                        display: inline;
                    }
                }
                ul {
                    margin-left: -1em;
                    margin-top: 0;
                    li {
                        font-size: $parrafo-size;
                        margin-top: 0.2em;
                        &:first-of-type {
                            padding-top: 0.55em;
                        }
                    }
                }
            }
        }
    }
}
.view-pag07 {
    background-image: url('../int/fondo_pag07.jpg');
    #navbar {
        a {
            background-color: $pag07-hard;
        }
    }
    .barra {
        background-color: $pag07-soft;
        .titulo {
            .icono {
                top: .1rem;
                img {
                    max-height: 115%;
                }
            }
        }
    }
    .contenido {
        .seccion {
            &.una-imagen,
            &.sin-imagen {
                .contenedor {
                    position: relative;
                    h3.texto-resaltado {
                        position: absolute;
                        top: 0;
                        font-size: 0.26rem;
                        z-index: 13;
                    }
                    figure {
                        position: absolute;
                        background-image: url('../int/fondo_unico.svg');
                        width: $biberon-width;
                        height: $biberon-height;
                        z-index: 10;
                        margin: 0;
                        figcaption {
                            position: absolute;
                            top: $biberon-width - 0.2rem;
                            left: $biberon-width * 0.125;
                            width: $biberon-width * 0.75;
                            height: $biberon-width * 0.75;
                            font-size: 0.4rem;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-family: $sans-serif;
                            font-weight: bolder;
                            color: $blanco;
                            text-align: center;
                        }
                    }
                }
            }
            &.una-imagen {
                .contenedor {
                    figure {
                        left: (($ancho-contenido - ($biberon-width * 2)) / 2) + $biberon-width;
                        top: -0.6rem;
                        figcaption {
                        }
                        img {
                            position: absolute;
                            top: $biberon-width * 0.8;
                            left: $biberon-width * -1;
                            width: $biberon-width * 0.9;
                            height: auto;
                        }
                    }
                }
            }
            &.sin-imagen {
                .contenedor {
                    figure {
                        left: ($ancho-contenido - $biberon-width) / 2;
                        top: -0.6rem;
                        figcaption {
                        }
                    }
                }
            }
            .contenedor {
                color: $titulo-nav;
                width: $ancho-contenido;
                margin-left: ($ancho-total - $ancho-contenido) / 2;
                padding-bottom: 1em;
                h3.texto-resaltado {
                    font-family: $sans-serif;
                    color: $pag07-hard;
                    padding-top: 1.75em;
                    text-align: center;
                }
                figure {
                    &.mosaico {
                        position: relative;
                        margin: 2em 0 0;
                        .imagenes {
                            max-width: 100%;
                            display: table;
                            text-align: center;
                            .img {
                                max-width: 19%;
                                display: inline-table;
                                vertical-align: middle;
                                padding-left: .04rem;
                                &:last-of-type {
                                    padding-right: .04rem;
                                }
                            }
                            &:first-of-type {
                                margin-top: -.2rem;
                                padding-top: .04rem;
                            }
                            &:last-of-type {
                                margin-top: 1.2rem;
                                padding: .04rem 0;
                            }
                        }
                        figcaption {
                            position: absolute;
                            top: .90rem;
                            left: ($ancho-contenido - $circulo-prueba) / 2;
                            width: $circulo-prueba;
                            height: $circulo-prueba;
                            border-radius: 50%;
                            background-color: $pag07-hard;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-family: $sans-serif;
                            font-weight: bolder;
                            color: $blanco;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}
.view-pag08 {
    background-image: url('../int/fondo_pag08.jpg');
    #navbar {
        a {
            background-color: $pag08-hard;
        }
    }
    .barra {
        background-color: $pag08-soft;
    }
    .contenido {
        .seccion {
            .contenedor {
                color: $titulo-nav;
                width: 5.8rem;
                margin-left: ($ancho-total - 5.8rem) / 2;
                padding-bottom: 1em;
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                h3.texto-resaltado {
                    font-family: $sans-serif;
                    color: $pag08-hard;
                    &:first-of-type {
                        padding-top: 1.5em;
                    }
                    &:last-of-type {
                        padding-top: 0.1em;
                    }
                }
                p {
                    margin: .4rem 0 0;
                    &:last-of-type {
                        margin-top: 0.41rem;
                        width: 18em;
                    }
                }
            }
        }
    }
}
