.pagina {
    .barra {
        width: $ancho-total;
        height: $barra-height;
        position: fixed;
        z-index: 999;
        .titulo {
            position: relative;
            height: 100%;
            .icono {
                width: $icono-barra;
                height: $icono-barra;
                position: absolute;
                left: 23px;
                top: 21px;
            }
            .texto {
                font-family: $sans-serif-black;
                font-weight: bolder;
                color: $titulo-nav;
                position: absolute;
                top: 15px;
                left: 101px;
                font-size: 23px;
            }
        }
        .volver {
            width: $navbar-boton;
            height: $navbar-boton;
            background-size: contain;
            background-repeat: no-repeat;
            display: inline-block;
            background-image: url('../int/volver.svg');
            position: absolute;
            right: 10px;
            top: 11px;
        }
        .logo {
            width: $logo-barra;
            height: $logo-barra;
            background-image: url('../int/logoPlaneta.svg');
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
    .contenido {
        /*overflow: scroll;*/
        padding-top: $barra-height;
        height: $alto-total - $barra-height - $footer-height;
        background-repeat: no-repeat;
        background-position-y: top;
        .seccion {
            width: 100%;
            font-family: $sans-serif;
            .preg-detona {
                width: 830px;
                height: $alto-total - $barra-height - $footer-height;
                margin: 0 auto;
                .fondo {
                    height: 830px;
                    width: 830px;
                    border-radius: 415px;
                    margin-top: -122px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .texto {
                        color: $blanco;
                        font-family: $sans-serif-black;
                        font-size: $pregunta-detona-size;
                        font-weight: bolder;
                        text-align: center;
                        width: 650px;
                    }
                }
            }
        }
    }
    .pie {
        width: $ancho-total;
        height: $footer-height;
        background-color: $footer-color;
        position: absolute;
        z-index: 998;
        top: $alto-total - $footer-height;
        #titulo {
            position: absolute;
            text-align: right;
            right: 108px;
            top: 4px;
            #desafio {
                font-family: $sans-serif-black;
                font-size: $footer-desafio-size;
                font-weight: bolder;
                line-height: 1.2;
                color: $blanco;
                border-bottom: $titulo-borde;
            }
            #tema {
                font-family: $sans-serif; //$serif;
                font-size: $footer-tema-size;
                color: $tema-color;
                line-height: 1;
                margin-top: 4px;
            }
        }
        .figura {
            background-image: url('../img/figura.png');
            background-size: cover;
            background-repeat: no-repeat;
            position: absolute;
            width: 100px;
            height: 88px;
            right: -6px;
            top: -12px;
        }
        #navbar {
            position: absolute;
            top: 27px;
            left: 27px;
            a {
                width: $navbar-boton;
                height: $navbar-boton;
                background-size: contain;
                background-repeat: no-repeat;
                display: inline-block;
            }
            .anterior {
                background-image: url('../int/ant-act.svg');
                &.disabled {
                    background-image: url('../int/ant-des.svg');
                }
            }
            .siguiente {
                background-image: url('../int/sig-act.svg');
                &.disabled {
                    background-image: url('../int/sig-des.svg');
                }
            }
        }
    }
}
.view-pag01 {
    background-image: url('../img/fondo_pag01.jpg');
    .barra {
        background-color: $pag01-soft;
    }
    .contenido {
        .seccion {
            height: $alto-total - $barra-height - $footer-height;
        }
        .sec01 {
            .contenedor {
                width: $ancho-contenido;
                margin: 0 auto;
                padding-top: 41px;
            }
        }
        .sec02 {
            .preg-detona {
                .fondo {
                    background-color: $pag01-hard;
                }
            }
        }
    }
}
.view-pag02 {
    background-image: url('../img/fondo_pag02.jpg');
    .barra {
        background-color: $pag02-soft;
    }
    .contenido {
        .sec01 {
            width: $ancho-contenido;
            margin-left: ($ancho-total - $ancho-contenido) / 2;
            border-radius: 26px;
            background-color: $blanco;
            margin-top: 60px;
            .texto-inicial {
                font-size: 25px;
                margin: 38px 38px 0 38px;
            }
            .texto-resaltado {
                font-size: 28px;
                margin: 38px;
                color: $pag02-hard;
                font-family: $sans-serif-black;
            }
            .imagen-apoyo {
                max-width: 100%;
                display: flex;
                flex-direction: row;
                .imagen {
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }
}
.view-pag03 {
    background-image: url('../img/fondo_pag03.jpg');
    .barra {
        background-color: $pag03-soft;
    }
    .contenido {
        .sec01 {
            .texto-resaltado {
                position: absolute;
                left: 106px;
                top: 105px;
                font-size: 28px;
                width: 519px;
                color: $pag03-hard;
                font-family: $sans-serif-black;
            }
            .hilo {
                position: absolute;
                top: 316px;
                left: 86px;
                width: 682px;
                height: 379px;
                .aspectos {
                    position: relative;
                    .aspecto {
                        position: absolute;
                        img {
                            width: 85px;
                            height: 85px;
                            display: block;
                        }
                        span {
                            font-family: $sans-serif-bold;
                            font-weight: bold;
                            text-align: center;
                            color: $titulo-nav;
                            display: block;
                            margin-top: 0.5em;
                            width: 93px;
                        }
                        &.asp1 {
                            top: 79px;
                            left: 121px;
                        }
                        &.asp2 {
                            top: -34px;
                            left: 349px;
                        }
                        &.asp3 {
                            top: 243px;
                            left: 176px;
                        }
                        &.asp4 {
                            top: 66px;
                            left: 297px;
                        }
                        &.asp5 {
                            top: 19px;
                            left: 490px;
                        }
                        &.asp6 {
                            top: 165px;
                            left: 496px;
                        }
                    }
                }
            }
        }
    }
}
.view-pag04 {
    .barra {
        background-color: $pag04-soft;
    }
    .contenido {
        .seccion {
            height: $alto-total - $barra-height - $footer-height;
            background-position-y: $barra-height * -1;
            margin-top: ($barra-height + 6) * -1;
            /*
            background-attachment: fixed;
            background-size: 77%;
            background-position-x: 49%;
            */
            .contenedor {
                position: relative;
                color: $titulo-nav;
                width: $ancho-contenido;
                margin-left: ($ancho-total - $ancho-contenido) / 2;
                margin-top: $barra-height + 6;
                h3.texto-resaltado {
                    font-family: $sans-serif-black;
                    color: $pag04-hard;
                    font-size: 36px;
                    padding-top: 1.35em;
                    width: 22em;
                }
                p {
                    font-family: $sans-serif;
                    font-weight: normal;
                    font-size: 27px;
                    margin-top: 21px;
                }
                ul {
                    margin-left: -1em;
                    li {
                        font-size: 24px;
                        margin-top: 0.2em;
                        &:first-of-type {
                            padding-top: 0.55em;
                        }
                    }
                }
            }
        }
        .sec01 {
            background-image: url('../img/fondo_pag04_sec01.jpg');
            .contenedor {
                h3.texto-resaltado {
                    font-size: 28px;
                    padding-top: 1.75em;
                }
            }
        }
        .sec02 {
            background-image: url('../img/fondo_pag04_sec02.jpg');
            .contenedor {
                width: 100%;
                margin-left: 0;
                margin-top: $barra-height + 6;
                .texto-resaltado-inv {
                    position: absolute;
                    font-family: $sans-serif-black;
                    font-size: 38px;
                    color: $blanco;
                    top: 266px;
                    left: 70px;
                    max-width: 7em;
                }
                .pasos {
                    position: absolute;
                    left: 470px;
                    top: 85px;
                    .paso {
                        position: absolute;
                        left: 0;
                        .numero {
                            position: absolute;
                            font-size: 40px;
                            width: 66px;
                            height: 66px;
                            border-radius: 50%;
                            background-color: $pag04-espe;
                            color: $blanco;
                            font-family: $sans-serif-black;
                            span {
                                position: absolute;
                                left: 21px;
                                top: 8px;
                            }
                        }
                        .descripcion {
                            position: absolute;
                            top: 0;
                            left: 103px;
                            width: 20em;
                            line-height: 0.2;
                            p {
                                font-size: 22px;
                            }
                        }
                        &:nth-of-type(1),
                        &:nth-of-type(2),
                        &:nth-of-type(3),
                        &:nth-of-type(4) {
                            .numero:before {
                                content: '';
                                position: absolute;
                                width: 8px;
                                height: 50px;
                                background-color: #e4eed0;
                                left: 30px;
                                top: 59px;
                                z-index: -3;
                            }
                        }
                    }
                    .paso01 {
                        top: 0;
                    }
                    .paso02 {
                        top: 99px;
                    }
                    .paso03 {
                        top: 198px;
                    }
                    .paso04 {
                        top: 296px;
                    }
                    .paso05 {
                        top: 394px;
                    }
                }
            }
        }
        .sec03,
        .sec04,
        .sec05 {
            background-image: url('../img/fondo_pag04_sec03.jpg');
        }
    }
}
.view-pag05 {
    background-image: url('../img/fondo_pag05.jpg');
    .barra {
        background-color: $pag05-soft;
    }
    .contenido {
        .seccion {
            .contenedor {
                color: $titulo-nav;
                width: $ancho-contenido;
                margin-left: ($ancho-total - $ancho-contenido) / 2;
                padding-bottom: 1em;
                h3.texto-resaltado {
                    font-family: $sans-serif-black;
                    color: $pag05-hard;
                    font-size: 26px;
                    padding-top: 1.75em;
                }
                p {
                    font-family: $sans-serif;
                    font-weight: normal;
                    font-size: $parrafo-size;
                }
                ul {
                    margin-left: -1em;
                    margin-top: 0;
                    li {
                        font-size: $parrafo-size;
                        margin-top: 0.2em;
                        &:first-of-type {
                            padding-top: 0.55em;
                        }
                    }
                }
            }
        }
    }
}
.view-pag06 {
    background-image: url('../img/fondo_pag06.jpg');
    .barra {
        background-color: $pag06-soft;
    }
    .contenido {
        .seccion {
            .contenedor {
                color: $titulo-nav;
                width: $ancho-contenido;
                margin-left: ($ancho-total - $ancho-contenido) / 2;
                padding-bottom: 1em;
                h3.texto-resaltado {
                    font-family: $sans-serif-black;
                    color: $pag06-hard;
                    font-size: 26px;
                    padding-top: 1.75em;
                }
                p {
                    font-family: $sans-serif;
                    font-weight: normal;
                    font-size: $parrafo-size;
                    img.icono {
                        max-width: 1em;
                        max-height: 1em;
                        display: inline;
                    }
                }
                ul {
                    margin-left: -1em;
                    margin-top: 0;
                    li {
                        font-size: $parrafo-size;
                        margin-top: 0.2em;
                        &:first-of-type {
                            padding-top: 0.55em;
                        }
                    }
                }
            }
        }
    }
}
.view-pag07 {
    background-image: url('../img/fondo_pag07.jpg');
    .barra {
        background-color: $pag07-soft;
        .titulo {
            .icono {
                img {
                    max-height: 145%;
                }
            }
        }
    }
    .contenido {
        .seccion {
            .contenedor {
                color: $titulo-nav;
                width: $ancho-contenido;
                margin-left: ($ancho-total - $ancho-contenido) / 2;
                padding-bottom: 1em;
                h3.texto-resaltado {
                    font-family: $sans-serif-black;
                    color: $pag07-hard;
                    font-size: 26px;
                    padding-top: 1.75em;
                    text-align: center;
                }
                figure.mosaico {
                    position: relative;
                    margin: 2em 0 0;
                    background-color: $blanco;
                    .imagenes {
                        max-width: 100%;
                        display: table;
                        text-align: center;
                        .img {
                            max-width: 19%;
                            display: inline-table;
                            vertical-align: middle;
                            padding-left: 4px;
                            &:last-of-type {
                                padding-right: 4px;
                            }
                        }
                        &:first-of-type {
                            padding-top: 4px;
                        }
                        &:last-of-type {
                            padding: 4px 0;
                        }
                    }
                    figcaption {
                        position: absolute;
                        top: 30px;
                        left: ($ancho-contenido - $circulo-prueba) / 2;
                        width: $circulo-prueba;
                        height: $circulo-prueba;
                        border-radius: 50%;
                        background-color: $pag07-tran;//$pag07-hard;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-family: $sans-serif-black;
                        font-size: 30px;
                        padding: 1rem;
                        span {
                            color: $blanco;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}
.view-pag08 {
    background-image: url('../img/fondo_pag08.jpg');
    .barra {
        background-color: $pag08-soft;
    }
    .contenido {
        .seccion {
            .contenedor {
                color: $titulo-nav;
                width: 580px;
                margin-left: ($ancho-total - 580) / 2;
                padding-bottom: 1em;
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                h3.texto-resaltado {
                    font-family: $sans-serif-black;
                    color: $pag08-hard;
                    font-size: 30px;
                    &:first-of-type {
                        padding-top: 1.5em;
                    }
                    &:last-of-type {
                        padding-top: 0.1em;
                    }
                }
                p {
                    font-size: 29px;
                    margin: 0;
                    &:last-of-type {
                        margin-top: 0.5em;
                        width: 10em;
                    }
                }
            }
        }
    }
}