.view-portada {
    background-image: $fondo-portada;
    background-size: cover;
    #titulo {
        width: 3.9rem;
        position: absolute;
        top: .55rem;
        left: .54rem;
        #desafio {
            font-family: $sans-serif;
            font-size: $desafio-size;
            font-weight: 800;
            line-height: 1.2;
            color: $desafio-color;
            border-bottom: $titulo-borde;
        }
        #tema {
            font-family: $serif;
            font-size: $tema-size;
            color: $tema-color;
            line-height: 1;
            margin-top: .07rem;
        }
    }
    .logo {
        background-image: url('../int/logoPlaneta.svg');
        width: .26rem;
        height: .26rem;
        background-repeat: no-repeat;
        right: .10rem;
        top: .13rem;
        position: absolute;
    }
    .figura {
        background-image: url('../img/figura.png');
        background-repeat: no-repeat;
        background-position: bottom right;
        background-size: contain;
        width: 4.66rem;
        height: 3.85rem;
        position: absolute;
        right: 0;
        bottom: 0;
    }
    #botonera {
        width: 9.51rem;
        height: 6.71rem;
        position: absolute;
        bottom: 0;
        left: 0;
        a {
            position: absolute;
            background-repeat: no-repeat;
            width: 1.12rem;
            height: 1.12rem;
            &:hover {
                background-image: url('../int/boton-sombra.svg');
                .icono {
                    top: -.02rem;
                    left: -.02rem;
                }
                .texto {
                    color: $titulo-nav;
                }
            }
            .icono {
                width: 1.12rem;
                height: 1.12rem;
                position: absolute;
                top: 0;
                left: 0;
            }
            .texto {
                position: absolute;
                font-family: $sans-serif;
                font-size: .20rem;
                font-weight: bolder;
                text-decoration: none;
                color: $asign-hard;
                width: 3.5rem;
            }
        }
        #btn01 {
            bottom: 1.13rem;
            left: .72rem;
            .texto {
                left: .89rem;
                top: .97rem;
            }
        }
        #btn02 {
            bottom: 2.19rem;
            left: 1.49rem;
            .texto {
                left: .74rem;
                top: 1.05rem;
            }
        } 
        #btn03 {
            bottom: 3.08rem;
            left: 2.35rem;
            .texto {
                left: .6rem;
                top: 1.07rem;
            }
        }
        #btn04 {
            bottom: 3.9rem;
            left: 3.31rem;
            .texto {
                left: .52rem;
                top: 1.08rem;
            }
        }
        #btn05 {
            bottom: 4.59rem;
            left: 4.45rem;
            .texto {
                left: .31rem;
                top: 1.08rem;
            }
        }
        #btn06 {
            bottom: 5.1rem;
            left: 5.73rem;
            .texto {
                left: .06rem;
                top: 1.06rem;
            }
        }
        #btn07 {
            bottom: 5.41rem;
            left: 7.12rem;
            .texto {
                left: -.14rem;
                top: 1.06rem;
            }
        }
        #btn08 {
            bottom: 5.59rem;
            left: 8.52rem;
            .texto {
                left: .3rem;
                top: 1.06rem;
            }
        }
    }
}
