.view-portada {
    background-image: $fondo-portada;
    background-size: contain;
    #titulo {
        width: 39.0rem;
        position: absolute;
        top: 5.5rem;
        left: 5.4rem;
        #desafio {
            font-family: $sans-serif-black;
            font-size: $desafio-size;
            font-weight: 800;
            line-height: 1.2;
            color: $desafio-color;
            border-bottom: $titulo-borde;
        }
        #tema {
            font-family: $serif;
            font-size: $tema-size;
            color: $tema-color;
            line-height: 1;
            margin-top: 0.7rem;
        }
    }
    .logo {
        background-image: url('../int/logoPlaneta.svg');
        width: 2.6rem;
        height: 2.6rem;
        background-repeat: no-repeat;
        right: 1.0rem;
        top: 1.3rem;
        position: absolute;
    }
    .figura {
        background-image: url('../img/figura.png');
        background-repeat: no-repeat;
        background-position: bottom right;
        background-size: contain;
        width: 46.6rem;
        height: 38.5rem;
        position: absolute;
        right: 0;
        bottom: 0;
    }
    #botonera {
        width: 95.1rem;
        height: 67.1rem;
        position: absolute;
        bottom: 0;
        left: 0;
        a {
            position: absolute;
            background-repeat: no-repeat;
            width: 11.2rem;
            height: 11.2rem;
            &:hover {
                background-image: url('../int/boton-sombra.svg');
                .icono {
                    top: -0.2rem;
                    left: -0.2rem;
                }
                .texto {
                    color: $titulo-nav;
                }
            }
            .icono {
                width: 11.2rem;
                height: 11.2rem;
                position: absolute;
                top: 0;
                left: 0;
            }
            .texto {
                position: absolute;
                font-family: $sans-serif-black;
                font-size: 2.0rem;
                font-weight: bolder;
                text-decoration: none;
                color: $asign-hard;
                width: 35.0rem;
            }
        }
        #btn01 {
            bottom: 11.3rem;
            left: 7.2rem;
            .texto {
                left: 8.9rem;
                top: 9.7rem;
            }
        }
        #btn02 {
            bottom: 21.9rem;
            left: 14.9rem;
            .texto {
                left: 7.4rem;
                top: 10.5rem;
            }
        } 
        #btn03 {
            bottom: 30.8rem;
            left: 23.5rem;
            .texto {
                left: 6.0rem;
                top: 10.7rem;
            }
        }
        #btn04 {
            bottom: 39.0rem;
            left: 33.1rem;
            .texto {
                left: 5.2rem;
                top: 10.8rem;
            }
        }
        #btn05 {
            bottom: 45.9rem;
            left: 44.5rem;
            .texto {
                left: 3.1rem;
                top: 10.8rem;
            }
        }
        #btn06 {
            bottom: 51.0rem;
            left: 57.3rem;
            .texto {
                left: 0.6rem;
                top: 10.6rem;
            }
        }
        #btn07 {
            bottom: 54.1rem;
            left: 71.2rem;
            .texto {
                left: -1.4rem;
                top: 10.6rem;
            }
        }
        #btn08 {
            bottom: 55.9rem;
            left: 85.2rem;
            .texto {
                left: 3.0rem;
                top: 10.6rem;
            }
        }
    }
}
